version: 2
jobs:
    test:
        docker:
          - image: circleci/node:8.10-stretch-browsers
        filters:
            branches:
                only: master
        steps:
          - checkout
          - run: npm run lint
workflows:
  version: 2
  test:
    jobs:
      - test
